




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.photo {
  display: inline-block;
  position: absolute;
  top: 8%;
  left: 0;
  right:0;
  margin-left: 15%;
  max-width: 300px;
  max-height: auto;
  box-shadow: 0px 0px 5px 2px black;
  border-radius: 2.1ch;
}

.cursive {
  font-family: 'Shadows Into Light', cursive;
}

.space{
  padding-bottom: 350px;
}
.left-align {
  margin-left: 0;
  font-family: 'Roboto', sans-serif;

}

a {
  color: white;
  
}
a:hover {
  color: white;
  text-decoration: none;
}

.picture {
  max-width: 500px;
  height: auto;
  position: relative;


}

.inline-display {
  display: inline;
}